:root {
    --bgColor: rgb(0,0,0);
    --text: rgb(189, 189, 189); 

}

* {
    background-color: var(--bgColor);
    color: var(--text);
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#KTEmblem {
    position: fixed;
    width: 500px;
    top: -25px;
    left: -50px;
    opacity: 0.25;
    rotate: -10deg;
    z-index: 2;
}

#header {
    position: fixed;
    top: 5px;
    right: 0px;
    /* Flexbox */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.5rem;
    
}

#header .menu_item {
    color: var(--text);
    padding: 3px;
}

#header .menu_item,
#header span{
    color: var(--text);
    padding: 3px;
}

#header .menu_item:hover {
    color: white;
    cursor: pointer;
}