:root {
    --bgColor: rgb(0,0,0);
    --text: rgb(189, 189, 189); 

}

* {
    background-color: var(--bgColor);
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#KTEmblem {
    position: fixed;
    width: 500px;
    top: -25px;
    left: -50px;
    opacity: 0.25;
    rotate: -10deg;
    z-index: 2;
}

#header {
    position: fixed;
    top: 5px;
    right: 0px;
}

#header span {
    color: var(--text);
    padding: 3px;
}

#header span:hover {
    color: white;
    
}