:root {
    --bgColor: black; 

}

* {
    background-color: var(--bgColor);
    margin: 0;
    padding: 0;
    border: 0;

}

#KTEmblem {
    position: fixed;
    width: 500px;
    top: -25px;
    left: -50px;
    opacity: 0.25;
    rotate: -10deg;
    z-index: -1;
}

#KTLogo_sm {
    width: 50px;

}
